.card-h{
	width: 30%;
	flex-shrink: 0;
	margin-right: 3%;
	.card-title{
		text-align: center;
		margin-bottom: 11px;
		padding-bottom: 11px;
		border-bottom: 1px solid $light-gray;
	}
	.card-content{
		.plan-row{
			display: flex;
			span{
				margin-right: 4px;
				color: $main-color;
			}
			.line{
				text-decoration: line-through;
			}
		}
	}
}
